body {
    width: 523px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    border-radius: 2px
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4681c3;
    outline: none;
}
.hidden{
    display: none;
}
.zipcode{
    width: 300px;
}
.forecast .day{
    border-top: 1px dashed #888888;
}
.forecast .day {
    background: #333;
    color: #fff;
    width: 20%;
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 10px 0
}
.forecast .day:not(:last-child) {
    border-right: 1px solid #888888;
}
.forecast .day .low {
    font-weight: 100;
    color: #A9A9A9;
}
.forecast .day .rainChance {
    color: #4681c3;
    margin: 5px 0;
}
.day .wi{
    margin: 10px 0;
    font-size: 30px;
}
.current {
    margin: 10px;
    /*border-bottom: 1px solid #DCDCDC;*/
}
.current .currentIcon{
    font-size: 40px;
}
.current .location {
    font-weight: 100;
    font-size: 12px;
    /*color: #ecf0f1;*/
}
.current .summary {
    font-weight: 600;
    font-size: 28px;
}
.current .temperature {
    font-size: 40px;
    font-weight: 500;
    vertical-align: top;
}
.current .left, .currentOther .left {
    float: left;
}
.current .right, .currentOther .right {
    float: right;
}
.currentOther {
    padding: 0 60px 10px 40px;
    overflow: auto;
}
.currentOther .wind, .currentOther .rainChance {
    margin-left: -15px;
}

.titleBar{
    background-color: #ecf0f1;
    padding: 10px 0;
    font-weight: 600;
    border-bottom: 1px solid #7f8c8d;
    text-align: center;
}

.settings{
    position: fixed;
    top: 10px;
    right: 14px;
}

.hourly li {
    background: #333;
    color: #fff;
    width: 12.5%;
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 10px 0
}
.hourly li:not(:last-child) {
    border-right: 1px solid #888888;
}
.hourly .rainChance {
    color: #4681c3;
    margin: 5px 0;
}

.hourly .wi{
    margin: 10px 0;
    font-size: 20px;
}

#hourlySummary{
    font-size: 10px;
    margin: 10px;
}
