body {
    font-family: 'Noto Sans', Lato, sans-serif;
    font-weight: 500;
}

.failedToLoad{

    text-align: center;
    background: #333;
    color:#fff;
    padding: 100px;
}

.failedToLoad p + p {
    margin-top: 20px;
}

.failedToLoad h2{
    color: #c14646;
    margin-bottom: 10px;
    font-size: 20px;
}

a{
    color: #4681c3;
}
a:hover{
    color: #284f7b;
}
